# Creating Functions - Lab

## Introduction

As you know, we can use functions to name snippets of our code, thus making our code more expressive. We can also use functions to allow us to reuse our code. In this lab we will practice using functions for both of those purposes.

## Objectives

You will be able to:

* Declare and use a basic function

## Instructions: 
### Writing our first functions

Imagine we are creating a list of travel destinations -- which can really turn out to be a full time job if we like to travel. We have our list of `travel_destinations` which we assign below. Write a function called `number_of_destinations()` that returns the number of destinations we have on our list.

In [6]:
travel_destinations = ['argentina', 'mexico', 'italy', 'finland', 'canada', 'croatia']

# define function here

In [7]:
for destination in travel_destinations:
    print (destination.title())

Argentina
Mexico
Italy
Finland
Canada
Croatia

> Below, remove the first `#` to uncomment the following line(s) of code and then press `shift` + `enter` to run the cell

In [8]:
list_of_fruits= ['apples' , 'apricot' , 'Banana' , 'Blackberry' , 'Blueberry']

In [9]:
for fruits in list_of_fruits:
    print (fruits.title())

Apples
Apricot
Banana
Blackberry
Blueberry

In [13]:
#create a function that will print the list of fruits
def print_fruits():
    for fruits in list_of_fruits:
        print (fruits.title())

In [15]:
print_fruits()

Apples
Apricot
Banana
Blackberry
Blueberry

In [1]:
number_list = [0, 1, 2, 3, 4]

In [5]:
number_list = list(range(0,5))
number_list

[0, 1, 2, 3, 4]

In [19]:
# Iterate through the number_list and print the elements 
# create a function that prints numbers in a list 
for numbers in number_list:
        print(numbers)

0
1
2
3
4

In [20]:
def print_numbers(collection):
    for numbers in collection:
        print(numbers)

In [21]:
item =['python', 'Sql', 'Java']

In [22]:
print_numbers(item)

python
Sql
Java

In [23]:
list_2=[1,2,3,4,5,6,7,8]

In [24]:
print_numbers(list_2)

1
2
3
4
5
6
7
8

In [36]:
def addition(m,n):
    results = m + n
    return results

In [37]:
i = 6
j = 4

In [39]:
addition(i,j)

10

In [13]:
print_numbers()

TypeError: print_numbers() missing 1 required positional argument: 'collection'

In [14]:
# number_of_destinations() # Expected output: 6

Now write another function called `next_up()` that returns our first destination (the destination with the lowest index), in the `list_of_destinations` list.

In [ ]:
# define function here

Next, run your new function

In [ ]:
list_of_destinations = ['argentina', 'canada', 'croatia']
# Your code here 
# Expected output:'argentina'

Ok, now write a function called `favorite_destination()` that returns the string `'madagascar'`.

In [ ]:
# define function here

Next, run your new function

In [ ]:
# Your code here 
# Expected output:'madagascar'

Again, let's declare a list called `favorite_destinations`. Write a new function called `add_favorite_destination()` that adds the string `'madagascar'` to the end of `favorite_destinations` and also returns the string `'madagascar'`.

In [ ]:
# define function here

Next, run your new function

In [ ]:
favorite_destinations = ['argentina', 'mexico', 'italy', 'finland', 'canada', 'croatia']

# Your code here 

favorite_destinations[-1]

Now let's write another function called `capitalize_countries()` which iterates through the list of `capitalized_destinations` and capitalizes the first letter of each word. It should return a list of capitalized destinations.

In [ ]:
capitalized_destinations = ['argentina', 'mexico', 'italy', 'finland', 'canada', 'croatia']
# define function here

Next, run your new function

In [ ]:
# Your code here # ['Argentina', 'Mexico', 'Italy', 'Finland', 'Canada', 'Croatia']

Great! Now if someone adds a country that is lowercased to our list of destinations, we can simply call our function again to capitalize each of the destinations in the list.

## Summary

Great job! In this lab we were able to get practice both creating and returning values from functions.